.name {
  style: inline-block; }

.convo {
  padding: 1%;
  margin: 1%;
  font-weight: bold; }

.message {
  background-color: white;
  font-size: 2rem;
  border-radius: 47px; }

.givenName {
  text-align: right;
  color: white; }

.namedMessageDiv {
  padding: 1%;
  margin: 1%; }

.navbar-brand {
  font-size: 4rem; }

body {
  background: linear-gradient(to bottom, #669, #000 50%);
  background-attachment: fixed; }